/* Some style for the example UI - it's completely not necessary for you */

body {
  padding-top: 1.5em;
  background-color: var(--in-content-box-background);
  color: var(--in-content-page-color);
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container > .flex-item {
  flex: auto;
}
.flex-container > .raw-item {
}

button {
  min-height: 32px;
  margin-left: 6px;
  min-width: 7em;
  text-align: center;
}
